/* Stiluri pentru toate butoanele de paginare, inclusiv săgețile, fără efect de hover */
#pagination-container .tui-pagination .tui-page-btn,
#pagination-container .tui-pagination .tui-ico-first,
#pagination-container .tui-pagination .tui-ico-last,
#pagination-container .tui-pagination .tui-ico-prev,
#pagination-container .tui-pagination .tui-ico-next,
#pagination-container .tui-pagination .tui-ico-ellip {
  background-color: #b92f2c;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
}
#pagination-container .tui-pagination .tui-page-btn {
  margin: 5px;
}
#pagination-container .tui-pagination .tui-ico-first,
#pagination-container .tui-pagination .tui-ico-last,
#pagination-container .tui-pagination .tui-ico-prev,
#pagination-container .tui-pagination .tui-ico-next,
#pagination-container .tui-pagination .tui-ico-ellip {
  border: none;
}

#pagination-container .tui-pagination .tui-page-btn.tui-is-disabled,
#pagination-container .tui-pagination .tui-page-btn.tui-is-selected {
  opacity: 0.5; /* Opacitate pentru butoanele dezactivate */
  pointer-events: none; /* Dezactivează evenimentele de mouse */
}
@media (max-width: 500px) {
  .pagination .container #pagination {
    max-width: 300px;
  }
}
