<footer >
  <div class="footer-container">
    <p class="rights-reserved">© <span id="current-year"></span> | All Rights Reserved | Developed with</p>
    <div class="text-direction">
      <svg class="heart">
        <use href="./icons/symbol-defs.svg#icon-heart"></use>
      </svg>
      <!-- Open Modal -->
      <p class="students" id="openFooterModal">by GoIT Students</p>
      <div id="myFooterModal" class="footer-modal">
        <!-- Modal content -->
        <div class="footer-modal-content">
          <div class="title-btn-container">
            <h3 class="footer-modal-title">The project was made by:</h3>
            <button type="button" class="close-button-member">
              <svg class="close-icon-member">
                <use href="./icons/symbol-defs.svg#icon-x-circle"></use>
              </svg>
            </button>
          </div>
          <ul class="group-section">
            <li class="member-section">
              <picture class="edit-img">
                <source
                  media="(min-width:1280px)"
                  srcset="
                    images/alex-desktop1x.webp 1x,
                    images/alex-desktop2x.webp 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    images/alex-tablet1x.webp 1x,
                    images/alex-tablet2x.webp 2x
                  "
                />
                <source
                  media="(max-width:320px)"
                  srcset="
                    images/alex-mobile1x.webp 1x,
                    images/alex-mobile2x.webp 2x
                  "
                />
                <img
                  class="last-image"
                  src="./images/alex-mobile1x.webp"
                  alt="alex"
                />
              </picture>
              <section class="member-title1">
                <h4 class="member-name">Nitu Alexandru</h4>
                <span class="member-description">
                  Team Leader, Frontend Developer</span
                >
              </section>
              <ul class="member-links">
                <li class="social-links">
                  <a href="https://github.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>

                <li class="social-links">
                  <a href="https://linkedin.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>

            <li class="member-section">
              <picture class="edit-img">
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/robert-desktop1x.webp 1x,
                    ./images/robert-desktop2x.webp 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    images/robert-tablet1x.webp 1x,
                    images/robert-tablet2x.webp 2x
                  "
                />
                <source
                  media="(max-width:320px)"
                  srcset="
                    images/robert-mobile1x.webp 1x,
                    images/robert-mobile2x.webp 2x
                  "
                />
                <img
                  class="last-image"
                  src="images/robert-mobile1x.webp"
                  alt="robert"
                />
              </picture>
              <section class="member-title1">
                <h4 class="member-name">Robert Sovar</h4>
                <span class="member-description">
                  Scrum Master, Frontend Developer</span
                >
              </section>
              <ul class="member-links">
                <li class="social-links">
                  <a href="https://github.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>

                <li class="social-links">
                  <a href="https://linkedin.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="member-section">
              <picture class="edit-img1">
                <source
                  media="(min-width:1280px)"
                  srcset="
                    images/anatolii-desktop1x.webp 1x,
                    images/anatolii-desktop2x.webp 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    images/anatolii-tablet1x.webp 1x,
                    images/anatolii-tablet2x.webp 2x
                  "
                />
                <source
                  media="(max-width:320px)"
                  srcset="
                    images/anatolii-mobile1x.webp 1x,
                    images/anatolii-mobile2x.webp 2x
                  "
                />
                <img
                  class="last-image"
                  src="images/anatolii-mobile1x.webp"
                  alt="Anatolii Boboc"
                />
              </picture>
              <section class="member-title">
                <h4 class="member-name">Anatolii Boboc</h4>
                <span class="member-description">Frontend Developer</span>
              </section>
              <ul class="member-links">
                <li class="social-links">
                  <a href="https://github.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>

                <li class="social-links">
                  <a href="https://linkedin.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="member-section">
              <picture class="edit-img1">
                <source
                  media="(min-width:1280px)"
                  srcset="
                    images/ancuta-desktop1x.webp 1x,
                    images/ancuta-desktop2x.webp 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    images/ancuta-tablet1x.webp 1x,
                    images/ancuta-tablet2x.webp 2x
                  "
                />
                <source
                  media="(max-width:320px)"
                  srcset="
                    images/ancuta-mobile1x.webp 1x,
                    images/ancuta-mobile2x.webp 2x
                  "
                />
                <img
                  class="last-image"
                  src="images/ancuta-mobile1x.webp"
                  alt="ancuta"
                />
              </picture>
              <section class="member-title">
                <h4 class="member-name">Ancuta Ureche</h4>
                <span class="member-description"> Frontend Developer</span>
              </section>
              <ul class="member-links">
                <li class="social-links">
                  <a href="https://github.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>

                <li class="social-links">
                  <a href="https://linkedin.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="member-section">
              <picture class="edit-img1">
                <source
                  media="(min-width:1280px)"
                  srcset="
                    images/roxana-desktop1x.webp 1x,
                    images/roxana-desktop2x.webp 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    images/roxana-tablet1x.webp 1x,
                    images/roxana-tablet2x.webp 2x
                  "
                />
                <source
                  media="(max-width:320px)"
                  srcset="
                    images/roxana-mobile1x.webp 1x,
                    images/roxana-mobile2x.webp 2x
                  "
                />
                <img
                  class="last-image"
                  src="images/roxana-mobile1x.webp"
                  alt="roxana"
                />
              </picture>
              <section class="member-title">
                <h4 class="member-name">Roxana Larisa</h4>
                <span class="member-description">Frontend Developer</span>
              </section>
              <ul class="member-links">
                <li class="social-links">
                  <a href="https://github.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>

                <li class="social-links">
                  <a href="https://linkedin.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="member-section">
              <picture class="edit-img1">
                <source
                  media="(min-width:1280px)"
                  srcset="
                    images/seb-desktop1x.webp 1x,
                    images/seb-desktop2x.webp 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    images/seb-tablet1x.webp 1x,
                    images/seb-tablet2x.webp 2x
                  "
                />
                <source
                  media="(max-width:320px)"
                  srcset="
                    images/seb-mobile1x.webp 1x,
                    images/seb-mobile2x.webp 2x
                  "
                />
                <img
                  class="last-image"
                  src="images/seb-mobile1x.webp"
                  alt="seb"
                />
              </picture>
              <section class="member-title">
                <h4 class="member-name">Sebastian Dunduc</h4>
                <span class="member-description"> Frontend Developer</span>
              </section>
              <ul class="member-links">
                <li class="social-links">
                  <a href="https://github.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>

                <li class="social-links">
                  <a href="https://linkedin.com">
                    <svg>
                      <use href="./icons/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
